* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-card{
    width: 100%;
}

.bg-pre{

    background-image: url(https://img.gruppomol.it/articoli/image/mare/1200x900_Depositphotos_23467114_xl-2015.jpg);
    background-size: cover;

}

.logo1{
    width: 100px;
}

.bg-logo{
    background-color: rgb(232, 236, 212);
}

.bg-footer{
    background-color: burlywood;
}